---
import "../styles/style.css";
---

<main role="main" class="container">
  <!-- TODO grab most of this data as markdown or something easy to edit -->
  <header>
    <h1>
      Adam Leis
      <!-- red line squashed -->
      <span>Resume</span>
      <!-- gray line squashed -->
      <span>Front-end Developer</span>
    </h1>
    <!-- TODO replace this with something more dynamic so changing job titles is easier -->
  </header>

  <article>
    <section>
      <h2>Overview (or whatever)</h2>
      <div>
        <p>some descriptive text about me</p>
      </div>
    </section>

    <section>
      <h2>Experience</h2>
      <div>
        <!-- list of components detailing work exp. -->
      </div>
    </section>

    <section>
      <h2>Skills</h2>
      <div>
        <!-- some good way to list compitent skillset -->
      </div>
    </section>
  </article>

  <aside>
    <picture></picture>
    <img src="" alt="">
    
    <section>
      <h2>
        about me
      </h2>
      <div>
        <!-- list of contact info w/ icons -->
      </div>
    </section>

    <section>
      <h2>Education</h2>
      <div>
        list of education
      </div>
    </section>

    <section>
      <h2>R&D</h2>
      <ul>
        <!-- list of research topics -->
      </ul>
    </section>
  </aside>
</main>