---
import "../../styles/style.css";
import { Content as OverviewContent } from "../../data/overview.md";
---

<main role="main" class="container">
  <!-- TODO grab most of this data as markdown or something easy to edit -->
  <header>
    <h1>
      Adam Leis
      <!-- red line squashed -->
      <span>Resume</span>
      <!-- gray line squashed -->
      <span>Front-end Developer</span>
    </h1>
    <!-- TODO replace this with something more dynamic so changing job titles is easier -->
  </header>

  <article class="baseResume">
    <section class="baseResume__overview">
      <OverviewContent />
    </section>

    <section class="baseResume__experience">
      <h2>Experience</h2>
      <div>
        <!-- list of components detailing work exp. -->
      </div>
    </section>

    <section class="baseResume__skills">
      <h2>Skills</h2>
      <div>
        <!-- some good way to list compitent skillset -->
      </div>
    </section>
  </article>

  <aside>
    <picture></picture>
    <img src="" alt="">
    
    <section class="baseResume__about">
      <h2>
        about me
      </h2>
      <div>
        <!-- list of contact info w/ icons -->
      </div>
    </section>

    <section class="baseResume__education">
      <h2>Education</h2>
      <div>
        list of education
      </div>
    </section>

    <section class="baseResume__rnd">
      <h2>R&D</h2>
      <ul>
        <!-- list of research topics -->
      </ul>
    </section>
  </aside>
</main>